.contenedor-destacado {
  flex-direction: column;
  justify-content: center;
  background-color: rgba(149, 247, 247, 0.75);
  width: 100%;
  min-width: 100%;
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 600px) {
  .contenedor-destacado {
    width: 90%;
    min-width: 80%;
  }
}
