.swiper-button-next {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  right: 0;
  color: white;
  background-color: #6cccd9;
}
.swiper-button-prev {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  left: 0;
  color: white;
  background-color: #6cccd9;
}
.MySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
