.contenedor-fila-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(149, 247, 247, 0.9);
  box-shadow: 1px 1px 5px black;
  min-height: 45rem;
}
