.contenedor-fila-perfil {
  width: 380px;
  height: 40rem;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  border: "1px solid";
  border-color: "#14919B";
  border-radius: "20px";
  background-color: "#02291F";
  box-shadow: 1px 1px 5px black;
}
