.banner-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  max-height: 70vh;
  min-height: 70vh;
}
.banner-img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) {
  .banner-container {
    min-height: 50vh;
    max-height: 50vh;
  }
}
