.swiper-prev-custom.MuiIconButton-root,
.swiper-next-custom.MuiIconButton-root {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #09A5B0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.swiper-prev-custom.MuiIconButton-root {
  left: -30px;
}

.swiper-next-custom.MuiIconButton-root {
  right: -30px;
}

.swiper-prev-custom.MuiIconButton-root:hover,
.swiper-next-custom.MuiIconButton-root:hover {
  background-color: #09A5B0;
  color: white;
  transform: translateY(-50%) scale(1.1); /* ← mantener el translateY en el hover también */
}
/* Bullets base */
.MySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #a3a3a3;
  opacity: 1;
  border-radius: 100px;
  transition: width 0.3s ease, background-color 0.3s ease;
 
}

/* Bullet activo: doble de ancho */
.MySwiper .swiper-pagination-bullet-active {
  width: 20px; /* el doble del width base */
  background-color: #17B8B8; /* tu color activo */
}