/* .nav-link-button {
  margin: 2 auto;
  color: white;
  display: block;

  height: 100%;
}

.nav-link-button:hover {
  scale: (0.1);
  background-color: darkgreen;
}
 */
.icon-profile {
  height: 1.7rem;
  width: 1.7rem;
  background-color: #fffff8;
  border-radius: 50%;
  color: #09a5b0;
  margin: auto 0;
  padding: 10px;
}
