.icon-profile {
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  background-color: #a4fffe;
  border-radius: 50%;
  color: #022932;
  padding: 0.3rem;
}

@media screen and (min-width: 320px) {
  .icon-profile {
    height: 1.85rem;
    width: 1.8rem;
  }
}
