.body {
  padding: 0;
  margin: 0;
  background-color: "#E1E5E6";
  width: 100%;
  height: auto;
}

.container-perfiles {
  background: linear-gradient(to bottom, #e6ffff, #e9fffc 60%, #dafffe);
  justify-content: center;
  margin: 7rem auto;
  padding: 2;
  width: 95%;
  height: 65vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border-color:#09A5B0;
  
  border-top: none;
  border-left: 6px solid #09A5B0;
  }


@media (min-width: 920px) {
  .container-perfiles {
    height: 70vh;
  }
}
@media (min-width: 1240px) {
  .container-perfiles {
    margin-top: 6rem;
    height: 75vh;
  }
}
@media (min-width: 1500px) {
  .container-perfiles {
    margin-top: 8rem;
    height: 70vh;
  }
}
