.carta-historia {
  width: 17.5rem;
  margin: auto;
  padding: 0;
  border: 2px solid #a6ece0;
  border-radius: 20px;
  background-color: #a6ece0;
  overflow: visible;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.carta-historia:hover {
  border: 2px solid #022932;
}
