.carta-historia {
  width: 280px;
  margin: auto;
  padding: 0;
  border: 4px solid #a6ece0;
  border-radius: 15%;
  background-color: #a6ece0;
}
.carta-historia:hover {
  border: 4px solid #022932;
}
